@import '../../../styles/variables';

.select {
  position: relative;
  border: 2px solid transparent;
  min-width: 400px;

  &__header {
    padding: 20px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    background: $background-color url('../../../assets/arrow-down.svg') no-repeat right 20px center;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $light-gray-color;
    }

    &--visible {
      background-image: url('../../../assets/arrow-up.svg');
    }
  }

  &__drop {
    position: absolute;
    display: none;
    border: 1px solid $select-color;
    border-right: none;
    border-left: none;
    width: 100%;
    background-color: $background-color;

    &--visible {
      display: block;
    }
  }

  &__option {
    padding: 20px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $light-gray-color;
    }

    &:first-child {
      border-bottom: 1px solid $select-color;
    }
  }
}
