@import './variables';

@mixin button {
  padding: 20px 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  cursor: pointer;
}

@mixin input {
  margin-bottom: 25px;
  border: 1px solid transparent;
  padding: 20px 15px;
  min-width: 370px;
  background-color: $background-color;

  &::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    color: $gray-color;
  }
}
