$white-color: #fff;
$background-color: #f4f4f4;
$pause-background-color: #dfdcfe;
$border-color: #e4e4e4;
$select-color: #dedede;
$light-gray-color: #ececec;
$number-color: #c4c4c4;
$gray-color: #999;
$focus-background-color: #ffdda9;
$stop-background-color: #c5f1ff;
$red-hover-color: #ee735d;
$red-active-color: #b7280f;
$red-color: #dc3e22;
$dark-red-color: #b7280f;
$green-color: #a8b64f;
$green-active-color: #899441;
$pink-color: #ea8a79;
$blue-color: #162eb4;
$black-color: #333;
